/*
header-left
header-right
header-buffer
nav-bar
front-page-vert-line
front-page-content
*/

body {
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 50px 50px 20px 80px 50px 50px 50px 50px 100px 50px 50px 1fr;
  grid-template-rows: 100px 20px 20px 20px 100px 50px 20px 30px 20px 50px auto;
}

.header-left {
	grid-area: 2 / 0 / 5 / 1;
	background-color: lightgray;
}

.header-right {
	grid-area: 5 / 0 / 9 / 1;
	background-color: darkgray;

}

.header-buffer {
	grid-area: 1 / 1 / 12 / 2;

}

.nav-bar {
	grid-area: 4 / 2 / 12 / 3;
	background-color: lightgray;

}

.nav-bar-line {
	grid-area: 1 / 2 / 12 / 3;
	border-bottom: 1px solid black;
}

.front-page-vert-line {
	grid-area: 3 / 2 / 4 / 5;
	border-left: 1px solid black;

}

.front-page-content {
	grid-area: 4 / 4 / 10 / 5;
	background-color: lightblue

}


p {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	line-height: 20px;
}

h1 {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: .02em;
	text-transform: uppercase;
}

h2 {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	font-size: 21px;
	line-height: 30px;
}

h3 {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: .02em;
	text-transform: uppercase;
}



@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .mobile_hide {
  	display:none;
  }

  img .headerimg {

  }
}