<div class="footer-container">
	<div class="footer">
		<div class="footer-contents">
			<a href="https://www.linkedin.com/in/tamis-nordling/" target="_blank">
				<i class="fab fa-linkedin fa-lg"></i>
			</a>
			<a href="https://github.com/tam-en" target="_blank"	>
				<i class="fab fa-github fa-lg"></i>
			</a>
			<a href="https://www.instagram.com/leftelbow/" target="_blank" >
				<i class="fab fa-instagram fa-lg"></i>
			</a>
			<a href="https://twitter.com/tenordling" target="_blank">
				<i class="fab fa-twitter fa-lg"></i>
			</a>
			<a href="https://www.facebook.com/tamis.nordling" target="_blank">
				<i class="fab fa-facebook-square fa-lg"></i>
			</a>
		</div>
	</div>
</div>