/*
rust = #A64310
spring green = #BADA55
light slate blue = #909CC2
purplish = #42386A, #534A77

*/

body {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	line-height: 1.4em;
	padding: 0;
	margin: 0;
}

		/*#####################################*/
		/*			GRID & HEADER              */
		/*#####################################*/


.grid-wrapper {
  display: grid;
  grid-template-columns: 5fr 75px 75px 2fr 2fr 75px 75px 1fr 75px 75px 2fr 2fr 75px 75px 5fr;
  grid-template-rows: 150px 30px 30px 10px 100px 30px 75px 30px 45px 30px 75px auto;
}

.header-left {
	grid-area: 1 / 2 / 2 / 6;
	background-image: url("../images/bada55_circle_34per-01.png");
	background-repeat: no-repeat;
	background-position: left top; 
	background-size: 220px auto;
}

.name-container {
	grid-area: 1 / 2 / 2 / 6;
	text-align: center;
	position: relative;	
}

#name {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 2.5em;
	letter-spacing: .02em;
	line-height: 1em;
	text-transform: uppercase;	
}

.bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
}

.header-right {
	grid-area: 1 / 6 / 2 / 11;
	background-image: url("../images/bada55_circle_67per-01.png");
	background-repeat: no-repeat;
	background-position: center top; 
	background-size: 220px auto;
}

.header-buffer {
	grid-area: 2 / 2 / 2 / 14;
}


		/*#####################################*/
		/*		          NAV                  */
		/*#####################################*/



.nav-bar {
	grid-area: 3 / 4 / 4 / 15;
	background-color: none;
	margin-left: 30px;
	text-align: left;
	position: relative;
}

.nav-bar-links {
	position: absolute;
	width: 100%;
	margin: 0;
	bottom: -4px;
}


.nav-bar-links > a {
	text-align: left;
	text-decoration: none;
	color: #534A77;
	font-weight: 400;
	margin-right: 30px;
	line-height: 1em;
}

.nav-bar-links > a:hover {
	font-weight: 400;
	border-bottom: 3px solid #BADA55;
}

.nav-bar-line {
	grid-area: 3 / 2 / 4 / 15;
	border-bottom: 1px solid #A64310;
}

.front-page-vert-line {
	grid-area: 3 / 4 / 6 / 5;
	border-left: 1px solid #A64310;
}


		/*#####################################*/
		/*			FRONT PAGE CONTENT         */
		/*#####################################*/


.front-page-content {
	grid-area: 5 / 4 / 6 / 13;
	margin-left: 30px;
	margin-top: 0px;

}

.about-contact {
	grid-area: 7 / 3 / 8 / 6;
	border-bottom: 1px solid #A64310
}

.about-bubble {
	grid-area: 7 / 6 / 10 / 8;
	background-image: url("../images/bada55_full_circle.png");
	background-size: contain;
}

.writing-editing {
	grid-area: 7 / 10 / 8 / 13;
	border-bottom: 1px solid #A64310;
}

.writing-bubble {
	grid-area: 7 / 13 / 10 / 15;
	background-image: url("../images/bada55_full_circle.png");
	background-size: contain;
}

.web-dev-bubble {
	grid-area: 9 / 2 / 12 / 4;
	background-image: url("../images/bada55_full_circle.png");
	background-size: contain;
}

.web-dev {
	grid-area: 10 / 4 / 11 / 7;
	border-bottom: 1px solid #A64310;
}

.print-bubble {
	grid-area: 9 / 9 / 12 / 11;
	background-image: url("../images/bada55_full_circle.png");
	background-size: contain;
}

.print-design {
	grid-area: 10 / 11 / 11 / 14;
	border-bottom: 1px solid #A64310;
}

.callout {
	position: relative;
	line-height: 15px;
	margin: 0;
}

.callout-text-left {
	position: absolute;
	bottom: -2px;
	right: 0;
	height: 15px;
	line-height: 15px;
	margin: 0;

}

.callout-text-right {
	position: absolute;
	bottom: -2px;
	left: 0;
	height: 15px;
	line-height: 15px;
	margin: 0;

}


		/*#####################################*/
		/*		  BASIC PARA STYLES            */
		/*#####################################*/



p {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
}

h1, h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 3em;
	letter-spacing: .02em;
	text-transform: uppercase;
}

h2 {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	font-size: 2em;
}

h3, .run-in {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	font-size: 1em;
	letter-spacing: .02em;
	text-transform: uppercase;
}


		/*#####################################*/
		/*			     FOOTER                */
		/*#####################################*/



.footer-container {
	display: grid;
	grid-template-columns: 5fr 75px 75px 2fr 2fr 75px 75px 1fr 75px 75px 2fr 2fr 75px 75px 5fr;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}

.footer {
	grid-column-start: 2;
	grid-column-end: 15;
	text-align: center;
	height: 35px;
	background-color: white;
	border-top: 1px solid #A64310;
	padding-top: 15px;
}

.footer-contents > a {
	font-size: 20px;
	color: black;
	margin: 10px 10px 0px 10px;
	line-height: 1em;
	text-decoration: none;
	padding-top: 10px
}



		/*#####################################*/
		/*	    MEDIA QUERY: LARGE PAD         */
		/*#####################################*/



@media only screen and (max-width: 1200px) {
	.grid-wrapper {
		display: grid;
		grid-template-columns: 2fr 75px 75px 1fr 0px 75px 75px 0px 75px 75px 0px 1fr 75px 75px 2fr;
		grid-template-rows: 150px 30px 30px 10px 100px 30px 75px 30px 45px 30px 75px auto;
	}

	#name {
		font-size: 2em;
	}

	.name-container {
		grid-area: 1 / 2 / 2 / 7;
		text-align: left;
		margin-left: 0px;
		position: relative;	
	}

	.header-right {
		grid-area: 1 / 6 / 2 / 11;
		background-image: url("../images/bada55_circle_67per-01.png");
		background-repeat: no-repeat;
		background-position: center top; 
		background-size: 220px auto;
	}

	.footer-container {
		grid-template-columns: 2fr 75px 75px 1fr 0px 75px 75px 0px 75px 75px 0px 1fr 75px 75px 2fr;
	}
}

		/*#####################################*/
		/*	   MEDIA QUERY: ~ MOBILE LARGE     */
		/*#####################################*/



@media only screen and (max-width: 950px) {

	.grid-wrapper {
		display: grid;
		grid-template-columns: 3fr 3fr 80px 1fr 80px 3fr 3fr;
		grid-template-rows: 175px 16px 16px 100px 16px 40px 16px 24px 16px 16px 24px 16px 16px 24px 16px 40px auto;
	}

	.mobile_hide {
		display:none;
	}

	.header-left {
		display: none;
	}

	.header-right {
		grid-area: 1 / 2 / 2 / 7;
		background-image: url("../images/bada55_circle_67per-01.png");
		background-repeat: no-repeat;
		background-position: center top; 
		background-size: 220px auto;
	}

	.name-container {
		grid-area: 3 / 2 / 4 / 7;
		text-align: center;
		position: relative;	
	}

	.header-buffer {
		grid-area: 2 / 2 / 3 / 7;
	}

	.nav-bar {
		display: none;
	}

	.nav-bar-line {
		display: none;
	}

	.front-page-vert-line {
		display: none;
	}

	.front-page-content {
		grid-area: 4 / 2 / 5 / 7;
		margin-left: 0px;
		margin-top: 0px;

	}

	.about-contact {
		grid-area: 6 / 4 / 7 / 7;
		border-bottom: 1px solid #A64310
	}

	.about-bubble {
		grid-area: 6 / 3 / 9 / 4;
		background-image: url("../images/bada55_full_circle.png");
		background-size: contain;
	}

	.writing-editing {
		grid-area: 12 / 4 / 13 / 7;
		border-bottom: 1px solid #A64310;
	}

	.writing-bubble {
		grid-area: 11 / 3 / 15 / 4;
		background-image: url("../images/bada55_full_circle.png");
		background-size: contain;
	}

	.web-dev-bubble {
		grid-area: 8 / 5 / 12 / 6;
		background-image: url("../images/bada55_full_circle.png");
		background-size: contain;
	}

	.web-dev {
		grid-area: 9 / 2 / 10 / 5;
		border-bottom: 1px solid #A64310;
	}

	.print-bubble {
		grid-area: 14 / 5 / 17 / 6;
		background-image: url("../images/bada55_full_circle.png");
		background-size: contain;
	}

	.print-design {
		grid-area: 15 / 2 / 16 / 5;
		border-bottom: 1px solid #A64310;
	}

	.callout {
		position: relative;
		line-height: 15px;
		margin: 0;
	}

	.callout-text-left {
		position: absolute;
		bottom: -2px;
		left: 0;
		height: 15px;
		line-height: 15px;
		margin: 0;
	}

	.callout-text-right {
		position: absolute;
		bottom: -2px;
		right: 0;
		height: 15px;
		line-height: 15px;
		margin: 0;
		text-align: right;
	}

	.footer-container {
		grid-template-columns: 3fr 3fr 80px 1fr 80px 3fr 3fr;
	}

	.footer {
		grid-column-start: 2;
		grid-column-end: 7;
	}
}

		/*#####################################*/
		/*	   MEDIA QUERY: ~ MOBILE SMALL     */
		/*#####################################*/


@media only screen and (max-width: 400px) {

  	.grid-wrapper {
		display: grid;
		grid-template-columns: 1fr 3fr 80px 1fr 80px 3fr 1fr;
		grid-template-rows: 100px 16px 16px 120px 16px 40px 16px 24px 16px 16px 24px 16px 16px 24px 16px 40px auto;
	}

	.mobile_hide {
		display:none;
	}

	.header-left {
		display: none;
	}

	.header-right {
		grid-area: 1 / 2 / 2 / 7;
		background-image: url("../images/bada55_circle_67per-01.png");
		background-repeat: no-repeat;
		background-position: center top; 
		background-size: 120px auto;
	}

	.footer-container {
		grid-template-columns: 1fr 3fr 80px 1fr 80px 3fr 1fr;
	}
}